@model IEnumerable<ToDoList.Models.Item>

<h1>Список дел</h1>

<p>
    <a asp-action="Create" class="create_new">Добавить новый пункт</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Название
            </th>
            <th>
                Дата
            </th>
            <th>
                Описание
            </th>
            <th>
                Сделано (Да/Нет)
            </th>
        </tr>
    </thead>
    <tbody style="border-collapse: collapse;">
        @foreach (var item in Model)
        {
            var backgroundColor = item.IsDone ? "lightslategray" : "none";
            var textDecorated = item.IsDone ? "line-through" : "none";
            <tr >
                <td style="background-color: @backgroundColor; text-decoration: @textDecorated; ">
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td style="background-color: @backgroundColor; text-decoration: @textDecorated; ">
                    @Html.DisplayFor(modelItem => item.ExecutionDate)
                </td >
                <td style="background-color: @backgroundColor; text-decoration: @textDecorated; ">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td style="background-color: @backgroundColor; text-decoration: @textDecorated; ">
                    <div class="done" >
                        <input type="checkbox" id="isDone" name="isDone" checked="@item.IsDone"
                               onclick="window.location.href = '/ToDoItems/IsDoneOrNot/@item.Id';" />
                    </div>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Детали</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="delete_item">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
